#root {
    min-height: 100vh;
    background: var(--soft, #f7fbfd);
}
header {
    display: flex;
    height: 6.58858rem;
    align-items: center;
    flex-shrink: 0;
    .logo {
        margin-right: 1.5rem;
        display: flex;
        padding: 0.375rem 2rem 0.375rem 6.25rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // gap: 2.25rem;
        flex: 1 0 0;
        align-self: stretch;
        a {
            color: var(--primary, #38b6ff);
            font-family: Montserrat;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .menu {
        display: flex;
        width: 60.0625rem;
        padding-right: 1rem;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        ul {
            display: flex;
            flex: 1;
            // width: 70.35139rem;
            padding-right: 1.1713rem;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            > li {
                display: flex;
                align-items: center;
                position: relative;
                &:hover {
                    > a {
                        color: var(--primary, #38b6ff);
                    }
                    img {
                        filter: invert(0.5) sepia(1) saturate(5)
                            hue-rotate(175deg);
                    }
                    ul {
                        display: flex;
                    }
                }
                a {
                    transition: 0.3s linear;
                    color: var(--black, #202432);
                    font-family: Montserrat;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    & + img {
                        transition: 0.3s linear;
                        margin-left: 0.5rem;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: -1.5rem;
                    width: 200%;
                    height: 1rem;
                }
                ul {
                    display: none;
                    position: absolute;
                    top: calc(100% + 1rem);
                    left: -1.5rem;
                    z-index: 1;
                    background-color: #fff;
                    // display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-right: 0;
                    border-radius: 0.75rem;
                    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
                    overflow: hidden;
                    li {
                        padding-left: 0.25rem;
                        transition: 0.2s linear;
                        &:hover {
                            background-color: #192a3d;
                            a {
                                color: #fff;
                            }
                        }
                        width: 100%;
                        a {
                            font-family: 'Montserrat', Sans-serif;
                            font-size: 1rem;
                            font-weight: 500;
                            white-space: nowrap;
                            padding: 1rem 1.75rem;
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .sub {
        display: flex;
        margin-right: 6.25rem;
        .item {
            &:first-child {
                margin-right: 1rem;
            }
            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

.main-section {
    position: relative;
    background: var(--soft, #f7fbfd);
    // min-height: calc(100vh - 6.58858rem);
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .main {
        position: absolute;
        display: flex;
        top: 1.88rem;
        left: 6.25rem;
        right: 6.25rem;
        // background: #000;
        .user {
            min-width: 18.1875rem;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: flex-start;
            // gap: 0.75rem;
            align-self: stretch;
            h1 {
                color: var(--black, #202432);
                font-family: Montserrat;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 1.05rem */
                margin-bottom: 0.75rem;
                width: 100%;
            }
            .line {
                background: #ececec;
                width: 100%;
                height: 0.0625rem;
                margin-bottom: 0.75rem;
            }
            .rank-infor {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                margin-bottom: 0.75rem;
                border-radius: 0.75rem;
                background: var(--trng-tinh-khi, #fff);
                margin-bottom: 0.5rem;
                // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                .infor {
                    display: flex;
                    border-radius: 0.375rem;
                    background: linear-gradient(
                        100deg,
                        #b9b4cc 0%,
                        #b5b0f1 56.65%,
                        #eaf6fd 112.17%
                    );
                    &.copper {
                        background: linear-gradient(
                            100deg,
                            #f7c971 0%,
                            #d59923 56.65%,
                            #fdf6ea 112.17%
                        );
                    }
                    &.silver {
                        background: linear-gradient(
                            99deg,
                            #5684b9 0%,
                            #9ecdf8 50.5%,
                            #b9d0dd 100%
                        );
                    }
                    &.gold {
                        background: linear-gradient(
                            99deg,
                            #ffc700 0%,
                            #fed500 51.5%,
                            #ffe999 100%
                        );
                    }
                    box-shadow: 2px 2px 12px 0px rgba(50, 73, 130, 0.1);
                    display: flex;
                    padding: 1rem 1.25rem;
                    align-items: center;
                    align-self: stretch;
                }
                .avatar-wrapper {
                    position: relative;
                    margin-right: 0.625rem;
                    cursor: pointer;
                    img:first-child {
                        border-radius: 50%;
                        width: 2.75rem;
                        height: 2.75rem;
                        object-fit: cover;
                    }
                    img.edit-btn {
                        position: absolute;
                        right: 0;
                        width: 1rem;
                        height: 1rem;
                    }
                }
                .text {
                    color: #fff;
                    p {
                        font-family: Montserrat;
                        margin-bottom: 0.5rem;
                        &:first-child {
                            color: var(--tuyt, #fff);
                            font-size: 0.5rem;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%; /* 0.6rem */
                        }
                        &:nth-child(2) {
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 1.3rem;
                            white-space: nowrap;
                        }
                        &:last-child {
                            color: var(--tuyt, #fff);
                            font-size: 0.625rem;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120%; /* 0.75rem */
                            margin-bottom: 0;
                            white-space: nowrap;
                        }
                    }
                }
            }

            nav.nav {
                border-radius: 0.75rem;
                background: var(--trng-tinh-khi, #fff);
                margin-bottom: 0.5rem;
                width: 100%;
                padding: 0.5rem;
                // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                ul {
                    li {
                        display: flex;
                        // padding: 0.875rem 0.75rem;
                        align-items: center;
                        gap: 0.75rem;
                        align-self: stretch;
                        margin-bottom: 0.37rem;
                        border-radius: 0.25rem;
                        background: var(--soft, #f7fbfd);
                        transition: 0.3s ease-in;
                        cursor: pointer;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.active,
                        &:hover {
                            background: var(--primary, #38b6ff);
                            a,
                            button {
                                span {
                                    color: var(--tuyt, #fff);
                                }
                                img {
                                    &:nth-child(1) {
                                        display: none;
                                    }
                                    &:nth-child(2) {
                                        display: flex;
                                    }
                                }
                            }
                        }
                        a,
                        button {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            padding: 0.875rem 0.75rem;
                            img {
                                width: 1.5rem;
                                height: 1.5rem;
                                object-fit: cover;
                                margin-right: 0.75rem;
                                &:nth-child(2) {
                                    display: none;
                                }
                            }
                            span {
                                color: var(--black, #202432);
                                font-family: Montserrat;
                                font-size: 0.875rem;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%; /* 1.05rem */
                                margin-top: 0.1rem;
                            }
                        }
                    }
                }
            }
        }

        .form-container {
            display: flex;
            width: 59.0625rem;
            padding: 2rem;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 0.75rem;
            background: #fff;
            // gap: 0.75rem;
            margin-left: 3.75rem;
            // border: 1px solid #e9ebf8;
            background: #fff;
            // box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
            h2 {
                color: var(--primary, #38b6ff);
                font-family: Montserrat;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                // text-transform: uppercase;
                margin-bottom: 0.75rem;
            }

            .double-input {
                display: flex;
                width: 100%;
                .input-group:first-child {
                    margin-right: 2.25rem;
                }
            }

            .input-group {
                margin-bottom: 0.75rem;
                display: flex;
                flex-direction: column;
                width: 100%;
                label {
                    margin-bottom: 0.5rem;
                    color: var(--text, #586693);
                    font-family: Montserrat;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                input {
                    // outline: none;
                    color: var(--black, #202432);
                    font-family: Montserrat;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    border-radius: 0.5rem;
                    border: 1px solid var(--text-3, #9098b1);
                    background: #fff;
                    display: flex;
                    height: 2.875rem;
                    padding: 0.9375rem 1.25rem;
                    align-items: center;
                    gap: 0.625rem;
                    align-self: stretch;
                    &::placeholder {
                        color: var(--text-2, #7887b6);
                        font-family: Montserrat;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                    outline: none;
                    &:focus {
                        border: 1px solid #000;
                        // border-radius: 0.3rem;
                    }
                }
                span.error-message {
                    color: var(--Main-color-Red, #f5222d);
                    font-family: Montserrat;
                    font-size: 0.75rem;
                    font-style: italic;
                    font-weight: 500;
                    line-height: normal;
                    margin-top: 0.5rem;
                }
            }

            button {
                border-radius: 0.25rem;
                background: var(--primary, #38b6ff);
                display: flex;
                width: 22.75rem;
                padding: 1rem 0.625rem;
                justify-content: center;
                align-items: center;
                // gap: 0.625rem;
                color: var(--tuyt, #fff);
                font-family: Montserrat;
                font-size: 1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                &#edit-btn {
                    display: none;
                }
            }
        }
    }
}

.main-section .main .form-container.change-password-form {
    width: 32.6875rem;
}
.main-section .main .form-container button#change-password-btn {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: unset;
}

.change-password-form .input-wrapper input {
    outline: none;
}

.input-wrapper {
    display: flex;
    align-items: center;
    padding-right: 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--text-3, #9098b1);
    background: var(--tuyt, #fff);
    &:focus-within {
        border: 1px solid #000;
        // border-radius: 0.3rem;
    }
    input {
        flex: 1;
        border: none !important;
    }
    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        cursor: pointer;
    }
}

.hide-pwd {
    display: none;
}

input[name='avatar'] {
    display: none;
}

/* HTML: <div class="loader"></div> */

.loader {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #fff 90%, #0000) top/4px 4px
            no-repeat,
        conic-gradient(#0000 30%, #fff);
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 4px),
        #000 0
    );
    animation: rotate 1s infinite linear;
    display: none;
    &.show {
        display: block;
    }
}

.skeleton {
    // animation: skeleton-loading 1s linear infinite alternate;
    width: 100%;
    height: 100%;
    background-color: #e7e7e7;
    position: relative;
    overflow: hidden;
    * {
        visibility: hidden;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(0, 0, 0, 0.08),
            transparent
        );
        animation: skeleton-loading 1.5s infinite;
    }
    &.rounded {
        border-radius: 50%;
    }
}

@keyframes skeleton-loading {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
