#root {
  min-height: 136rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  width: 100%;
}

.main-section {
  margin-top: 6.5886rem;
}

.main-section .main .user {
  position: fixed;
  top: 8.4685rem;
  left: 6.25rem;
}

.main-section .main {
  right: unset;
  margin-left: 21rem;
  justify-content: flex-end;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.content-container {
  border-radius: 0.75rem;
  border: 1px solid var(--tuyt, #fff);
  background: var(--soft, #f7fbfd);
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.04);
  display: inline-flex;
  padding: 0.75rem 1rem;
  justify-content: center;
  align-items: flex-start;
}
.content-container .content-wrapper {
  display: flex;
  width: 48.3125rem;
  flex-direction: column;
  align-items: flex-start;
}
.content-container .content-wrapper h2 {
  color: var(--primary, #38b6ff);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.content-container .content-wrapper ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-container .content-wrapper ul li {
  margin-top: 0.75rem;
  display: flex;
  padding: 1rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0.5rem;
  background: var(--tuyt, #fff);
  width: 100%;
}
.content-container .content-wrapper ul li .top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.content-container .content-wrapper ul li .top .left {
  display: flex;
  align-items: center;
}
.content-container .content-wrapper ul li .top .left h3 {
  color: var(--black, #202432);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.05rem */
  letter-spacing: -0.0175rem;
  margin-right: 0.25rem;
}
.content-container .content-wrapper ul li .top .left span {
  color: var(--primary, #38b6ff);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.05rem */
  letter-spacing: 0.00438rem;
  margin-right: 0.25rem;
}
.content-container .content-wrapper ul li .top .left img {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.content-container .content-wrapper ul li .top .left img.copied {
  display: none;
}
.content-container .content-wrapper ul li .top button {
  border-radius: 0.5rem;
  border: 1px solid var(--primary, #38b6ff);
  display: flex;
  padding: 0.625rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  color: var(--primary, #38b6ff);
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.content-container .content-wrapper ul li .top button:hover {
  transition: 0.2s ease-out;
  color: #fdfdfd;
  background-color: #4cd1ff;
}
.content-container .content-wrapper ul li .middle {
  margin: 0.75rem 0;
  margin-top: 0;
  display: flex;
  align-items: center;
}
.content-container .content-wrapper ul li .middle div {
  display: flex;
  flex-direction: column;
}
.content-container .content-wrapper ul li .middle div.title {
  margin-right: 2rem;
}
.content-container .content-wrapper ul li .middle div.title h3 {
  color: var(--text, #586693);
  font-family: Montserrat;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.75rem;
}
.content-container .content-wrapper ul li .middle div.title h3:last-child {
  margin-bottom: 0;
}
.content-container .content-wrapper ul li .middle div.value span {
  color: var(--black, #202432);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.44rem;
}
.content-container .content-wrapper ul li .middle div.value span:last-child {
  margin-bottom: 0;
}
.content-container .content-wrapper ul li .middle div.value span.highlight {
  color: #179917;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.content-container .content-wrapper ul li .bottom {
  border-top: 1px solid #ececec;
  padding-top: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-container .content-wrapper ul li .bottom .left {
  display: flex;
  align-items: center;
}
.content-container .content-wrapper ul li .bottom .left h3 {
  color: var(--black, #202432);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.05rem */
}
.content-container .content-wrapper ul li .bottom .left strong {
  color: var(--black, #202432);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-left: 0.2rem;
}
.content-container .content-wrapper ul li .bottom .total {
  color: var(--black, #202432);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.2rem */
}

nav.pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.19rem;
  margin-bottom: 2.31rem;
}
nav.pagination .etc {
  display: flex;
  align-items: flex-end;
  margin-right: 0.5rem;
}
nav.pagination .etc span {
  margin-right: 0.33331rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--primary, #38b6ff);
  border-radius: 50%;
}
nav.pagination .etc span:last-child {
  margin-right: 0;
}
nav.pagination a {
  border-radius: 2.5rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  max-width: 60.00056rem;
  padding: 0.5rem 0.8125rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
nav.pagination a:last-child {
  margin-right: 0;
}
nav.pagination a.current-page {
  cursor: default;
  border-radius: 2.5rem;
  background: var(--primary, #38b6ff);
  display: flex;
  width: 2rem;
  height: 2rem;
  max-width: 60.00056rem;
  padding: 0.5rem 0.8125rem;
  justify-content: center;
  align-items: center;
  color: var(--tuyt, #fff);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.05rem */
}
nav.pagination a.others {
  border-radius: 2.5rem;
  background: var(--stroke, #ccecff);
  display: flex;
  width: 2rem;
  height: 2rem;
  max-width: 60.00056rem;
  padding: 0.5rem 0.8125rem;
  justify-content: center;
  align-items: center;
  color: var(--tuyt, #fff);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.05rem */
}
nav.pagination a img {
  stroke-width: 1.5px;
  stroke: var(--primary, #38b6ff);
  width: 0.30938rem;
  height: 0.58931rem;
  object-fit: cover;
}

@media (max-width: 767px) {
  #root {
    height: 350.66667rem;
  }
  header {
    position: unset;
  }
  .main-section {
    margin-top: 0;
  }
  .main-section .main {
    right: 3.2rem;
  }
  .content-container {
    box-shadow: unset;
    padding: 0;
    border: none;
  }
  .content-container .content-wrapper {
    width: 100%;
  }
  .main-section .main.type-2 {
    margin-left: 0;
  }
  .content-container .content-wrapper ul li {
    border-radius: 2.13333rem;
    background: var(--tuyt, #fff);
    display: flex;
    width: 91.46667rem;
    padding: 4.26667rem 2.13333rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3.2rem;
  }
  .content-container .content-wrapper ul li:first-child {
    margin-top: 0;
  }
  .content-container .content-wrapper ul li .top {
    margin-bottom: 2.13rem;
  }
  .content-container .content-wrapper ul li .middle {
    margin-top: 0;
    margin-bottom: 2.13rem;
  }
  .content-container .content-wrapper ul li .bottom {
    padding-top: 2.13rem;
  }
  .content-container .content-wrapper ul li .top .left h3 {
    margin-right: 1.07rem;
    color: var(--black, #202432);
    font-family: Montserrat;
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 4.48rem */
    letter-spacing: -0.07467rem;
  }
  .content-container .content-wrapper ul li .top .left span {
    color: var(--primary, #38b6ff);
    font-family: Montserrat;
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 4.48rem */
    letter-spacing: 0.03733rem;
  }
  .content-container .content-wrapper ul li .top .left img {
    margin-left: 1.07rem;
    width: 4.26667rem;
    height: 4.26667rem;
  }
  .content-container .content-wrapper ul li .top .left img.copied {
    display: none;
  }
  .content-container .content-wrapper ul li .top button {
    border-radius: 1.6rem;
    border: 1px solid var(--primary, #38b6ff);
    display: flex;
    padding: 2.13333rem 2.66667rem;
    justify-content: center;
    align-items: center;
    gap: 2.66667rem;
    align-self: stretch;
    color: var(--primary, #38b6ff);
    font-family: Montserrat;
    font-size: 2.66667rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .content-container .content-wrapper ul li .middle div.title h3 {
    color: var(--text, #586693);
    font-family: Montserrat;
    font-size: 2.93333rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2.67rem;
  }
  .content-container .content-wrapper ul li .middle div.title {
    margin-right: 5.07rem;
  }
  .content-container .content-wrapper ul li .middle div.value span {
    color: var(--black, #202432);
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1.87rem;
  }
  .content-container .content-wrapper ul li .middle div.value span:last-child {
    margin-bottom: 0;
    color: #179917;
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .content-container .content-wrapper ul li .bottom .left h3 {
    color: var(--black, #202432);
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 3.84rem */
  }
  .content-container .content-wrapper ul li .bottom .left strong {
    color: var(--black, #202432);
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-left: 1rem;
  }
  .content-container .content-wrapper ul li .bottom .total {
    color: var(--black, #202432);
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 3.84rem */
  }
  nav.pagination {
    margin-top: 4.27rem;
    margin-bottom: 7.27rem;
  }
  nav.pagination a {
    border-radius: 10.66667rem;
    display: flex;
    width: 8.53333rem;
    height: 8.53333rem;
    max-width: 256.0024rem;
    padding: 2.13333rem 3.46667rem;
    justify-content: center;
    align-items: center;
    margin-right: 2.13rem;
  }
  nav.pagination a img {
    width: 1.32rem;
    height: 2.5144rem;
  }
  nav.pagination a.current-page {
    border-radius: 10.66667rem;
    background: #38b6ff;
    display: flex;
    width: 8.53333rem;
    height: 8.53333rem;
    max-width: 256.0024rem;
    padding: 2.13333rem 3.46667rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 4.48rem */
  }
  nav.pagination a.others {
    border-radius: 10.66667rem;
    background: var(--stroke, #ccecff);
    display: flex;
    width: 8.53333rem;
    height: 8.53333rem;
    max-width: 256.0024rem;
    padding: 2.13333rem 3.46667rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 3.73333rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 4.48rem */
  }
  nav.pagination .etc {
    margin-right: 2.13rem;
  }
  nav.pagination .etc span {
    width: 1.06667rem;
    height: 1.06667rem;
    margin-right: 1.42rem;
  }
}/*# sourceMappingURL=dsvd.css.map */