.main-section .main.auth {
    justify-content: center;
    top: 4.75rem;
}

.main-section .main .auth-form h2 {
    margin-bottom: 1.5rem;
}

.main-section .main .auth-form .input-group.email {
    margin-bottom: 0;
}

.main-section .main .auth-form button {
    margin-top: 1rem;
}

@media (max-width: 767px) {
    .main-section .main .auth-form button {
        margin-top: calc(6.4rem - 2.13rem);
        margin-bottom: 6.4rem;
    }

    .main-section .main .auth-form h2 {
        margin-bottom: 3.2rem;
        color: var(--black, #202432);
        font-family: Montserrat;
        font-size: 3.73333rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .or + a {
        color: var(--primary, #38b6ff);
        font-family: Montserrat;
        font-size: 3.73333rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}
